.home-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../media/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.home-content::after {
  content: "";
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}

.blurry-appbar {
  backdrop-filter: blur(5px);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.word {
  display: inline-block;
  animation: fadeInMove 0.5s forwards;
  opacity: 0;
}

.welcome-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

